#root{
  padding: 15px;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.startGame {
  font-family: Gotham;
  color: #ff5155;
  font-size: 2em;
  margin: auto;
  margin-top: 4.3em;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.submit{
  font-size: 1.5em;
  color: #ff5155;
  font-family:  Gotham;
  border: 1px solid gray;
  border-radius: 10px;
  display: inline-block;
  padding: 0.5em 2em;
  background: white;
  cursor: pointer;
  text-transform: capitalize;
}

.err{
  font-size: 1em;
  color: #ff5155;
  font-family:  Gotham;
  margin-bottom: 15px;
}
.success{
  font-size: 1em;
  color: rgb(70,170,105);
  font-family:  Gotham;
  margin-bottom: 15px;
}

.login{
  font-size: 1em;
  color: white;
  font-family:  Gotham;
  margin-bottom: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.submit:hover {
  background-color: gray;
  color: white;
}

.Game {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.Thanks {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.thanksBody {
  min-height: 65vh;
  text-align: center;
  color: white;
}

.finalGame {
  font-family: Gotham;
  padding-top: 2em;
  font-size: 3em;
}

.finalScore {
  font-family: Gotham;
  font-size: 3.5em;
  margin-top: 0em;
}

.highScore {
  font-family: GothamBook;
  font-size: 2em;
  margin-top: 0em;
}

.playAgain {
  color: #ff5155;
  font-family: Gotham;
  font-size: 2em;
  cursor: pointer;
  position: relative;
  width: 20%;
  min-width: 10em;
  margin: auto;
  padding-left: 1em;
  margin-top: 1.5em;
}
.logout{
  position: absolute;
  color: red;
  top: 10px;
  right: 10px;
  padding: 30px 15px;
  border-radius: 50%;
  background: ghostwhite;
  cursor: pointer;
}

.logout-center{
  position: absolute;
  color: red;
  right: 10px;
  padding: 30px 15px;
  border-radius: 50%;
  background: ghostwhite;
  cursor: pointer;
  top: 50%;
  transform: translate(0%, -50%);
}

.playAgain::before {
  position: absolute;
  background-image: url("../../assets/images/icons/reload-icon.svg");
  background-size: contain;
  width: 1em;
  height: 1em;
  left: 1.5em;
  content: "";
}
@media only screen and (max-width: 600px) {
  .finalGame {
    font-size: 2em;
  }
}

@media only screen and (max-width: 340px) {
  .startGame {
    font-size: 1.6em;
  }
}