.gameContainer {
  margin: 1%;
  display: inline-block;
  vertical-align: top;
  width: 75%;
  min-height: 10em;
  text-align: center;
}

.wordChallenge {
  font-family: Gotham;
  color: white;
  font-size: 4em;
  margin: 15px;
}

@media only screen and (max-width: 600px) {
  .gameContainer {
    width: 100%;
    min-height: 65vh;
  }
  .footerSections{
    width: 60%;
  }
  .footerAlignRight{
    width: 40%;
  }
}