.headerRow {
  width: 100%;
  padding: 15px;
  color: white;
}

.sectionRow {
  width: 100%;
  padding: 5px 15px;
  color: white;
}

.sectionHalf {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.alignRight {
  text-align: right;
}

.titleHeader {
  font-family: Lasercorps;
  font-size: 2em;
  color: #ff5155;
}

.playerIcon {
  width: 30px;
  height: 30px;
}

.iconTitle {
  display: inline-block;
  margin: 0;
  vertical-align: text-bottom;
  font-size: 2em;
  padding-left: 15px;
  font-family: Breamcatcher;
  color: #ff5155;
}

.scoreTitle {
  display: inline-block;
  margin: 0;
  vertical-align: text-bottom;
  font-size: 1.5em;
  padding-left: 15px;
  font-family: Gotham;
  color: #ff5155;
}

@media only screen and (max-width: 600px) {
  .headerRow {
    width: 90%;
    padding: 15px;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
  }
  .sectionHalf {
    width: 100%;
  }
  .alignRight {
    text-align: center;
    margin-bottom: 15px;
  }
}
