.footerRow {
  min-height: 2em;
  margin-left: 15px;
  margin-right: 15px;
}

.footerSections {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.footerAlignRight {
  text-align: right;
}

.crossIcon {
  width: 55px;
  height: 55px;
  vertical-align: middle;
  cursor: pointer;
}

.closeGame {
  display: inline-block;
  margin: 0;
  font-size: 2em;
  vertical-align: middle;
  font-family: Gotham;
  color: #ff5155;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .footerSections {
    text-align: center;
  }
}