input[type="text"] {
  font-family: "Breamcatcher";
  padding: 0.5em 1em;
  font-size: 1.5em;
  outline: none;
  border-radius: 10px;
  border: 0;
  background: #ffffffa6;
  min-width: 15em;
}

input::placeholder {
  color: #032228;
  opacity: 1;
}

div.inputText {
  margin: auto;
  margin-bottom: 1.2em;
  width: 25%;
  min-width: 25em;
}

@media only screen and (max-width: 600px) {
  div.inputText  {
    width: auto;
    min-width: 0;
  }
  input[type="text"] {
    min-width: 0;
    width:75%;
  }
}
